*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.head {
    background: #131313;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: relative;
    top: 0;
}

.head__container {
    height: fit-content;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px 80px 40px;
}

img {
    border-radius: 80px;
}

.head__item {
    height: auto;
    background-color: #D8FA00;
    background-image: linear-gradient(to top, #D8FA00 0%, #D8FA00 100%);
    background-size: 100%;
    background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    font-size: 1.2rem;
    justify-content: start;
}

.head__name {
    height: auto;
    background-color: #D8FA00;
    background-image: linear-gradient(to top, #D8FA00 0%, #D8FA00 100%);
    background-size: 100%;
    background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    font-size: 2rem;
    justify-content: start;
    font-style: italic;
    font-weight: bold;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #D8FA00;
    background-image: linear-gradient(to top, #D8FA00 0%, #D8FA00 100%);
    background-size: 100%;
    background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.fa-gem {
    margin-right: 1rem;
    font-size: 4rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #D8FA00;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
}

section {
    display: -webkit-flex;
    display: flex;
    margin-left: 40px;
}

nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    margin-left: 40px;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
}

footer {
    background-color: #131313;
    padding: 10px;
    text-align: center;
    color: #fff;
}

@media (max-width: 960px) {
    section{
        flex-direction: column;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .content__name {
    height: auto;
    background-color: #131313;
    background-size: 100%;
    background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    font-size: 2rem;
    justify-content: start;
    font-style: italic;
    font-weight: bold;
}

.isi_konten{
    margin: 40px;
}